<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{% block title %} {% endblock%} </title>
    <script src="https://cdn.bootcss.com/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdn.bootcss.com/twitter-bootstrap/4.2.1/js/bootstrap.min.js"></script>
    <link href="https://cdn.bootcss.com/twitter-bootstrap/4.2.1/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://cdn.bootcss.com/font-awesome/4.7.0/css/font-awesome.css" rel="stylesheet">
    {% block head %}
        
    {% endblock %}

</head>

<body>

        {% block navigation %}

        {% endblock %}
        <div class="container wrapper">
            {% block content %} {% endblock %}
        </div>
    </div>

    <footer class="footer fixed-bottom">
        <div class="container">
            <p class="pull-center">author:@wang</p>
        </div>
    </footer>
    <script type="nomodule" src="https://cdn.staticfile.org/systemjs/3.0.0/system.js"></script>
    
    {% block foot %}
        
    {% endblock %}
    
</body>

</html>