.form-content{
    padding:20px;
    border-radius:12px;
    box-shadow:0 0 3px 0 rgba(0,0,0,.5);
    margin-top:20px;
}
.form-content textarea{
    width:100%;
}
.btn-wrap{
    margin:10px 0;
    text-align:center;
}