/* 搜索栏 + 添加图书 */
.serch{
    display:flex;
    justify-content:space-between;
    margin:20px 0;
    box-shadow:0 0 3px 0 rgba(0,0,0,.5);
    padding:10px;
    border-radius:5px;
}
.serch form{
    display:flex;
}
.serch form input {
    margin-left:10px;
}
.serch form [type="submit"]{
    height : 34px;
}