
/* 查看 修改 删除 图标 */

.delete-icon::before{
    content:"\e020";
    color: #007bff;
    cursor: pointer;
}
.update-icon::before{
    content:"\270f";
}
.view-icon::before{
    content:"\e105";
}
/* list */
.table{
    padding:20px;
    box-shadow:0 0 3px 0 rgba(0,0,0,.5);
    border-radius:12px;
}
.table span{
    color:#007bff;
    cursor:pointer;
}