{% extends 'pages:pages/layout.html'%}

{% block title %} {{ title }} {% endblock %}

{% block head %}
    <!-- injectcss -->
{% endblock %}

{% block navigation %}
    {% include 'components:navigation/navigation.html'%}
{% endblock %}
{% block content %}
    <div class="container">
        <div class="row title-nav">
            <a href="/">首页</a>
            <a href="/book">图书信息管理</a>
            <span>显示图书信息</span>
        </div>
        {% include 'components:message/message.html'%}
    </div>
{% endblock %}

{% block foot %}
    <!-- injectjs -->
{% endblock %}